server:
  port: 8080
spring:
  application:
    name: postgres
  datasource:
    password: josea
    url: jdbc:postgresql://localhost:5432/kalamodb
    username: postgres
  jpa:
    database: POSTGRESQL
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true
  sql:
    init:
      platform: postgres
